* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(204, 43%, 93%);
}
.container {
  width: 700px;
  height: 600px;
  border: 2px solid black;
}
.container .first {
  width: 100vw;
}
