@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(204, 43%, 93%);
}
.container {
  width: 700px;
  height: 600px;
  border: none;
}
.container .first {
  background-color: white;
  width: 696px;
  height: 260px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.container .first h1 {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: hsl(179, 62%, 40%);
  padding-top: 25px;
  padding-left: 40px;
}
.container .first h4 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: hsl(71, 73%, 54%);
  padding-left: 40px;
  padding-top: 22px;
}
.container .first p {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  padding-left: 40px;
  padding-top: 15px;
}
.container .Description {
  width: 100%;
  height: 337px;
  display: flex;
  flex-direction: row;
}
.container .Description .second {
  width: 50%;
  height: 100%;
  background-color: hsl(179, 62%, 40%);
  border-bottom-left-radius: 6px;
}
.Description h2 {
  color: white;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-top: 40px;
  padding-left: 40px;
}
.Description h1 {
  color: white;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  padding-left: 40px;
  padding-top: 16px;
}
.Description span {
  font-size: 16px;
  color: hsl(218, 22%, 67%);
  font-family: "Karla", sans-serif;
}
.Description p {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  padding-top: 7px;
  padding-left: 40px;
  color: hsl(204, 43%, 93%);
}
.Description .btn {
  width: 250px;
  height: 50px;
  margin-left: 40px;
  margin-top: 40px;
  background-color: hsl(71, 73%, 54%);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 10px 40px black;
}
.container .Description .terceiro {
  width: 50%;
  background-color: hsl(179, 72%, 40%);
  border-bottom-right-radius: 6px;
}
.Description .terceiro p {
  padding-top: 30px;
}
